name: Update README and Pacman Graph

on:
  schedule: 
    - cron: "0 */3 * * *"
  workflow_dispatch: 
  push:
    branches:
      - main

jobs:
  update_readme_and_graph:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Generate README
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/data \
            -w /data \
            cyteon/markscribe \
            -write README.md templates/readme.tpl

      - name: Generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      - name: Push README and Pacman graph
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
